.slider {
  text-align: center;
}
.selection-item img {
  @media (min-width: $breakpoint-medium){
    height: 400px;
  }
}

.carousel-item .selection-item-cards img{
  height:168px;
    @media (min-width: $breakpoint-medium){

  width:500px;
  height: 280px;
}
}
